<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid19 Tracker India | News</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/pictures/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/pictures/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/pictures/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/pictures/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/pictures/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/pictures/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/pictures/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/pictures/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/pictures/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/pictures/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/pictures/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/pictures/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/pictures/favicon/favicon-16x16.png">
    <link rel="manifest" href="/pictures/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/pictures/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-174551218-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-174551218-1');
    </script>

    <link href="https://fonts.googleapis.com/css2?family=Montez&family=Montserrat:wght@400&family=Poppins:wght@700&family=Tajawal&display=swap" rel="stylesheet">    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">
    <script src="https://kit.fontawesome.com/6eee5c1f8b.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="progress-bar"></div>
    <section id="news-updates">
        <div class="container news-container">
            <%- include('partials/header'); -%>
            <h1>Latest NEWS updates on Corona Virus</h1>
            <% newsData.forEach(element => { %>
                <div class="news-data">
                    <div>
                        <h2><%= element.title %></h2>
                    </div>
                    <div>
                        <h4 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">SOURCE: <%= element.source.name %></h4>
                    </div>
                    <div>
                        <h5 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">AUTHOR: <%= element.author %> </h5>
                    </div>
                    <div>
                        <p class="news-description"><strong><%= element.description %> </strong></p>
                    </div>
                    <div class="row news-row">
                        <img class="news-img" src=<%= element.urlToImage %> alt="article-pic">
                    </div>
                    <div>
                        <p><%= element.content %> <a style="display: inline; color: black;" href=<%= element.url %> target="blank"><strong>Read More</strong></a></p>
                    </div>
                    
                </div>
            <% }); %>
            
        </div>
    </section>
    <%- include('partials/footer') -%> 
    <script src="/index2.js"></script>
</body>
</html>